<div class="container">
  <div class="cal_container">
    <h1>Gemarie - calculator</h1>

    <div class="inputs">
      <input type="number" placeholder="operand 1" [(ngModel)]="num1" />
      <input type="number" placeholder="operand 2" [(ngModel)]="num2" />
    </div>

    <div class="operators">
      <button (click)="add()">+</button>
      <button (click)="sub()">-</button>
      <button (click)="mul()">x</button>
      <button (click)="div()">/</button>
    </div>

    <div class="result">
      <p>Result:</p>
      <h3>{{ result }}</h3>
    </div>
  </div>
</div>
